gradle
.idea
.settings
/build/
!gradle/wrapper/gradle-wrapper.jar
/bin/
.classpath
.project
.DS_Store
out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

.project
.settings/
.classpath
.cache-main
target/
project/target
out/
src/test/
*/META-INF/*
